.ngx-datatable.material {
    .datatable-header {
        .datatable-header-cell {
            white-space: normal !important;
            text-align: center;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
        }
    }

    .datatable-body-cell-label {
        text-align: center;
    }

    .datatable-header {
        height: auto !important;
    }
}

.actionBtn {
    border: none;
    background-color: transparent;
}
