::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
}

:host ::ng-deep {
    mat-radio-button {
        &.mat-radio-checked {
            img {
                box-shadow: 0 0 0 2pt #03a9f4;
            }
        }

        label {
            position: relative;
            height: 100%;

            .mat-radio-container {
                position: absolute;
                opacity: 0;
                width: 0;
                height: 0;
            }

            .mat-radio-label-content {
                height: 100%;
                padding: 0px;

                img {
                    height: 100%;
                    min-height: 138px;
                    object-fit: cover;
                    cursor: pointer;
                    border-radius: 20px;
                }
            }

            span {
                position: absolute;
                right: 0px;
                bottom: 0px;
                padding-left: 10px;
                padding-right: 15px;
                font-size: 1rem;
                border-bottom-right-radius: 20px;
            }
        }
    }
}

@media screen and (max-width: 596px) {
    :host ::ng-deep .mat-horizontal-content-container {
        padding: 0px;
    }

    button.float-right {
        width: 60px;
        margin-right: 0px;
    }

    .h1 {
        font-size: 20px;
    }
}
