.isReceived {
    background-color: aliceblue;
}

.isSent {
    background-color: antiquewhite;
}

.message-body {
    padding: 5px;
    border-radius: 5px;
    border: solid 1px white;
    margin: 5px 0px;
}